<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LeLe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>025D32EF1C1DBCDC00E96A40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>025D33031C1DBCDD00E96A40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>025D330E1C1DBCDD00E96A40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
